.layoutContainer { 
  height: 100vh;
}

.formDivContainer {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.errorContainer {
  margin-top: 2.5%;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 500;
}