.cardContainer { 
  width: 90%;
  margin: 0 auto;
}

.textContainer {
  overflow: hidden;
}

.textTitle { 
  font-size: 1.3em;
  font-weight: 500;
}

.textData { 
  font-size: 1.1em;
  font-weight: 300;
}