@font-face {
  font-family: 'Sporting Grotesque_Regular';
  src:    url('../../../../assets/fonts/Sporting_Grotesque-Regular_web.eot');
  src:    url('../../../../assets/fonts/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
          url('../../../../assets/fonts/Sporting_Grotesque-Regular_web.woff') format('woff'),
          url('../../../../assets/fonts/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
          url('../../../../assets/fonts/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
          url('../../../../assets/fonts/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

.headerStyles {
  font-size: 3.5em;
  font-weight: 200;
  font-family: 'Sporting Grotesque_Regular';
}
