
@font-face {
  font-family: 'Sporting Grotesque_Regular';
  src:    url('../../../../fonts/Sporting_Grotesque-Regular_web.eot');
  src:    url('../../../../fonts/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
          url('../../../../fonts/Sporting_Grotesque-Regular_web.woff') format('woff'),
          url('../../../../fonts/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
          url('../../../../fonts/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
          url('../../../../fonts/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
  
.inputContainer {
  display: flex;
  height: 50px;
}

.btnExchange {
  font-family: 'Sporting Grotesque_Regular';
}

.txtAmount {
  width: 30vw;
  padding: 22px;
  font-size: 12px;
  font-family: 'NeueMontreal';
  border-color: black;
  font-family: 'Sporting Grotesque_Regular';
}
  