@font-face {
  font-family: 'Sporting Grotesque_Regular';
  src:    url('../../assets/fonts/Sporting_Grotesque-Regular_web.eot');
  src:    url('../../assets/fonts/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
          url('../../assets/fonts/Sporting_Grotesque-Regular_web.woff') format('woff'),
          url('../../assets/fonts/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
          url('../../assets/fonts/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
          url('../../assets/fonts/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal-Regular';
  src:    url('../../assets/fonts/NeueMontreal-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

.onboardingContainerStyle {
  padding-bottom: 2.5%;
  width: 60%;
  margin: 0 auto;
}

.headerTextStyle {
  font-size: 0.7em;
  line-height: 30px;
  font-family: NeueMontreal-Regular;
}

.headerStyles {
  font-size: 3.5em;
  font-weight: 200;
  font-family: 'Sporting Grotesque_Regular';
}

.App {
  text-align: center;
  padding: '5%';
}

.App-header {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.inputContainer {
  display: flex;
  height: 50px;
}

.txtAmount {
  width: 30vw;
  padding: 22px;
  font-size: 12px;
  font-family: 'NeueMontreal';
  border-color: black;
  border-right: 0;
  font-family: 'Sporting Grotesque_Regular';
  color: #82d5ec;
}

.txDisplay {
  width: 30vw;
  padding: 22px;
  font-size: 12px;
  font-family: 'NeueMontreal';
  border-color: black;
  border-left: 0;
  font-family: 'Sporting Grotesque_Regular';
  color: #82d5ec;
}

.btnMetaMask {
  font-family: 'Sporting Grotesque_Regular';
}

.btnReset {
  font-family: 'Sporting Grotesque_Regular';
}

.btnExchange {
  font-family: 'Sporting Grotesque_Regular';
}

.onboardingContainerStyle {
  padding-bottom: 2.5%;
  width: 60%;
  margin: 0 auto;
}

.headerTextStyle {
  font-size: 0.7em;
  line-height: 30px;
  font-family: NeueMontreal-Regular;
}

.netowrkStyles {
  font-family: 'Sporting Grotesque_Regular';
}

.networkName {
  color: #93dcb9;
  text-transform: uppercase;
  padding-left: 5px;
}

.networkContainer {
  margin: 0 auto;
  font-size: 0.8em;
  padding-top: 2.5%;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid black;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #85d7e8;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}