@font-face {
  font-family: 'NeueMontreal';
  font-style: 'Regular';
  font-weight: 400;
  src: url('../../fonts/NeueMontreal-Regular.otf'); /* IE9 Compat Modes */
}
  
.App {
  text-align: center;
}
  
.App-header {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
  
.txtAmount {
  width: 30vw;
  padding: 22px;
  font-size: 20px;
  font-family: 'NeueMontreal';
  border-color: black;
}

.inputContainer {
  display: flex;
  height: 50px;
}

.netowrkStyles {
  font-family: 'NeueMontreal, Regular';
}

.btnExchange {
  font-family: 'NeueMontreal, Regular';
}

.networkName {
  color: #3eda2b;
}